__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log
*.sqlite3

venv/
.env/
.venv/

.ipynb_checkpoints/


.DS_Store
Thumbs.db


*.pth
*.pt
saved_models/

results.txt
logs/


test_samples/
*.png


.gradio/


__pycache__/
*.db